.pod {
    padding: 4rem;
    background: #fff;
  }
  
  h1 {
    text-align: center;
    padding-bottom: 20px;
  }
  
  .pod__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
  }
  
  /*.pod__wrapper {
    position: relative;
    margin: 50px 0 45px;
  }
  */
  .pod__items {
    margin-bottom: 24px;
  }
  
  .pod__item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
  }
  
  .pod__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }
  
  .pod__item__pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
  }

  .hero-btns{
    margin-top: 20px; 
    text-align: center; 
    width: 100%;
  }

  .btns {
    font-size: 20px;
    padding: 12px 24px; 
    border-radius: 4px; 
    background-color: #1f98f4;
    color: white;
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effects */
  }

  .btns:hover {
    background-color: #147bba; 
    transform: translateY(-2px); 
  }


.btn--primary {
    background-color: #1f98f4;
  }
  
  .btn--outline {
    background-color: transparent;
    border: 2px solid #1f98f4;
    color: #1f98f4;
  }
  
  .btn--large {
    padding: 14px 48px;
    font-size: 20px;
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  .pod__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    box-sizing: border-box;
  }
  
  .pod__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
  }
  
  .pod__item__img:hover {
    transform: scale(1.1);
  }
  
  .pod__item__info {
    padding: 20px 30px 30px;
  }
  
  .pod__item__text {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
  }
  
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .pod__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .pod__item {
      margin-bottom: 2rem;
    }
  }