.add-episode-container {
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  h1 {
    text-align: center;
    color: #4c00b4;
  }
  
  .option-selection {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    gap: 20px;
  }
  
  .option-selection label {
    cursor: pointer;
    font-weight: bold;
  }
  
  .input-field {
    margin-bottom: 15px;
  }
  
  .input-field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input-field input,
  .input-field textarea,
  .input-field select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .error-message {
    color: red;
    margin-bottom: 15px;
  }
  
  .submit-button {
    width: 100%;
    padding: 15px;
    background-color: #4c00b4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
  
  .submit-button:hover {
    background-color: #3c009d;
  }
  