.navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  max-width: 1500px;
  width: 100%;
  padding: 0 20px;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 30px;
  cursor: pointer;
  font-size: 2rem;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: start;
  margin-right: 2rem;
  margin-left: 50px;
 
}

.nav-item {
  height: 30px;
  display: flex;
  align-items: center;

}

.nav-links {
  color: #fff;
 /* display: flex;*/
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  justify-content: center;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  
.nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    height: calc(100vh-80px); 
    position: absolute;
    top: 80px;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    padding-top: 30px; 
    align-items: center;
    margin-left: 0;
  }

  .nav-menu.active {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 80px;
    left: 0;
    text-align: center;
    background: #242222;
  }

  .nav-item {
    text-align: center;
    height: auto;
    display: block;
    padding: 1rem 2rem;
    margin: 30px 0;
    line-height: 20px;
    
  }

  .nav-links {
    font-size: 25px;
    text-align: center;
    ;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
    padding-left: 2 rem;
  }
  
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    padding-right: 20px;
    color: #fff;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    border-radius: 4px;
    width: 100%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 20px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
    
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }


}